body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}
